.searchbarSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  padding: 30px;
  background-image: url("./images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.titleContainer {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 95%;
  padding: 20px;
  color: rgb(194, 231, 240);
  font-size: 1.5em;
}

.searchbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 600px;

  box-shadow: 0 0 15px #084b56, /* First layer of the glow */ 0 0 30px #1590dd;
}

.searchbarInput {
  height: 100%;
  width: 90%;
  border: none;
}

.searchLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  padding: 0 20px;
  color: white;
  background-color: #011226;
  border: solid #011226 2px;
  font-size: 18px;
}

@media (max-width: 800px) {
  .searchbarContainer {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .searchbarContainer {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .searchbarContainer {
    width: 400px;
  }

  .searchLabel {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .searchbarContainer {
    width: 350px;
  }

  .searchLabel {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .searchbarContainer {
    width: 300px;
  }

  .searchLabel {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .searchbarContainer {
    width: 250px;
  }

  .searchLabel {
    font-size: 12px;
  }
}
