.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  color: #9dc4f1;
  background-color: #011226;
  border-bottom: #b8d5f7 solid;
  font-family: "Montserrat", sans-serif;
}

.logoSection {
  display: flex;
  margin-right: 10em;
  align-items: center;
}

.imageContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companyTitle {
  margin-left: 20px;
  color: rgb(211, 237, 244);
  font-size: 20px;
}

@media (max-width: 1300px) {
  .companyTitle {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .logoSection {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .imageContainer {
    width: 40px;
    height: 40px;
  }

  .logoSection {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .imageContainer {
    width: 38px;
    height: 38px;
  }

  .companyTitle {
    font-size: 14px;
  }

  .logoSection {
    margin-right: 0;
  }
}

@media (max-width: 370px) {
  .imageContainer {
    width: 35px;
    height: 35px;
  }

  .companyTitle {
    font-size: 12px;
  }

  .logoSection {
    margin-right: 0;
  }
}

@media (max-width: 350px) {
  .imageContainer {
    width: 35px;
    height: 35px;
  }

  .companyTitle {
    font-size: 12px;
  }

  .logoSection {
    margin-right: 0;
  }
}
