/* @media (min-width: 915px) {
  .menu {
    display: none;
  }
} */

.menu {
  position: relative;
  display: inline-block;
}

.barsBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bars {
  font-size: 20px;
  padding: 8px;
  border-radius: 18px;
}
